/* footer css */
.wed-hom-footer {
    padding: 25px 0 15px;
    background: #2e334a;
}

.wed-foot-link {
    border-top: 1px groove #ffffff00;
    border-bottom: 1px groove #6a83a000;
    padding: 35px 0 0;
}
.wed-foot-link div {
    border-right: 1px groove #6a83a000;
}

.wed-hom-footer h4 {
    font-size: 14px;
    color: #fff;
    padding-bottom: 6px;
    text-transform: uppercase;
    padding-top: 15px;
    font-weight: 900;
    margin-bottom: 5px;
}

.wed-foot-link ul {
    padding-left: 0;
    width: 100%;
    display: table;
}
.wed-foot-link ul li {
    width: 100%;
    float: left;
    list-style: none;
    text-align: left;
}
.wed-foot-link ul li a {
    color: #cfd3e2;
    font-size: 13px;
    font-weight: 400;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    outline: 0;
}
.wed-foot-link h5 {
    color: #fff;
    font-weight: 800;
    margin: 22px 0 15px;
}
.wed-foot-link div:last-child {
    border-right: 1px groove #6a83a000;
}
/* social section in footer */
.icon-link.fill.facebook {
    background-color: #3b5998;
}

.icon-link.round {
    border-radius: 50%;
}
.icon-link {
    width: 40px;
    height: 40px;
    background-color: #666;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    outline: 0;
    margin: 5px;
    box-sizing: content-box;
}

.icon-link .fa {
    color: #fff;
    line-height: 40px;
    font-size: 20px;
}
/* .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */

.icon-link.fill.twitter {
    background-color: #00aced;
}
.icon-link.fill.instagram {
    background-color: #517fa1;
}
.icon-link.fill.youtube-play {
    background-color: #df1c31;
}
.icon-link.fill.linkedin {
    background-color: #007bb3;
}

.social .icon-link.fill:hover{
 background-color: #ebebeb;
 
}
.social i:hover{
   color: #007bb3;
}
.social .fa-youtube-play:hover{
    color: #df1c31;
 }